<% form_tag (@page.new_record? ? {:controller=>"pages", :action=>"create"} : page_path(@page)),
    @page.new_record? ? {:method => :post} : {:method => :put}   do %>

  <% fields_for :page, @page do |f| -%>
    <p>
      <%= f.label :name %><br />
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :permalink %><br />
      <%= f.text_field :permalink %>
    </p>
    <p>
      <%= f.label :content %><br />
      <%= f.text_area :content %>
    </p>
  <% end -%>

  <p><%= submit_tag "Submit" %></p>
<% end %>
